<<<<<<< HEAD
<div>
   <h1 class="title"> <%= Lista de productos %></h1>
  <table class="product-list">
       <tr>
          <th><%=Título%></th>
          <th><%=Precio%></th>
          <th><%=Miniatura%></th>
       </tr>
       <% if productos.length %>
       <% each productos%>
       <tr>
          <td> <% this.titulo%> </td>
          <td> <% this.precio%> </td>
          <td><img height="72px" width="72px" src=<% {this.thumbnail %> > </td>
       </tr>
       <% /each %>
       <% /if %>
   </table>

   <a href="/"><button><%=Volver al formulario de carga%></button></a>
</div>
=======
div
  h1.title Lista de productos
  table.product-list
    tr
      th T&iacute;tulo
      th Precio
      th Miniatura
    |          {{#if productos.leneth}}
    |         {{#each productos}}
    tr
      td  {{this.titulo}} 
      td  {{this.precio}} 
      td
        img(height='72px' width='72px' src='{{this.thumbnail}}')
    |          {{/each}}
    |          {{/if}}
  a(href='/')
    button Volver al formulario de carga
>>>>>>> 54353657ceaf3186771ab011ce8fe05fd21aee64
